@{
	ViewData["Title"] = "Shop Page";
}
link{
		<link rel="stylesheet" href="~/assets/css/shop.css" />

}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>Cafena Product</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">product</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- shop product start -->
<section class="blog-area-container">
	<div class="blog-container">
		<div class="shop-product-container">
			<div class="shop-product">
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-icons">
						<i class="fas fa-shopping-basket"></i>
						<i class="fas fa-heart"></i>
						<i class="fas fa-eye"></i>
					</div>
					<div class="product-img">
						<img src="~/assets/images/pp-1.png" alt="" />
					</div>
					<div class="title">
						<h4>ROSTED COFFEE</h4>
						<h6>VICARAGUA COFFEE BEANS</h6>
						<span>
							PRICE - $325.00 /
							<span> <del>$348</del></span>
						</span>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li>
						<a href="">
							<span>
								<i class="fa-solid fa-angles-left"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<span> 01</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>02</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>03</span>
						</a>
					</li>
					<li>
						<a href="">
							<span> .... </span>
						</a>
					</li>
					<li>
						<a href="">
							<span>10</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>
								<i class="fa-solid fa-angles-right"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="shop-nav">
			<div class="search">
				<h2>Search Here</h2>
				<form>
					<input type="text"
						   name="search"
						   id="search"
						   placeholder="Seach Product" />
					<button>
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<div class="categories">
				<h2>Categories</h2>
				<ul>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
					<li>
						<a href="#">Burger</a>
						<span>04</span>
					</li>
				</ul>
			</div>
			<div class="filter">
				<div>
					<h2>Price Filter</h2>
				</div>
				<div class="price-input">
					<div class="field">
						<span>Min</span>
						<input type="number" class="min-input" value="2500" step="10" />
					</div>
					<div class="seperator">--</div>
					<div class="field">
						<span>Max</span>
						<input type="number" class="max-input" value="7500" step="10" />
					</div>
				</div>
				<div class="slider">
					<div class="progress-bar"></div>
				</div>
				<div class="input-range">
					<input type="range"
						   class="range-min"
						   min="0"
						   max="10000"
						   value="2500"
						   step="100" />
					<input type="range"
						   class="range-max"
						   min="0"
						   max="10000"
						   value="7500"
						   step="100" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- modal section start -->
<div id="myModal" class="modal">
	<div class="modal-content">
		<div class="modal-img">
			<img src="~/assets/images/pp-1.png" alt="" />
		</div>
		<div class="modal-text">
			<h2>VICARAGUA COFFEE BEANS</h2>
			<div class="modal-stars">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-regular fa-star"></i>
			</div>
			<h3><span>$</span>99.00</h3>
			<h4>Available :<span> In stock</span></h4>
			<p>
				Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est
				lacus, non pretium risus lacinia vel. Fusce eget turpis orci.
			</p>
			<div class="modal-quantity">
				<span>Quantity</span>
				<input type="number" placeholder="1" />
			</div>
			<button class="btn">ADD TO CART</button>
		</div>
		<a href="" class="close"> <i class="fa-solid fa-xmark"></i> </a>
	</div>
</div>
<!-- modal section end -->
<!-- shop product end -->
script{
<script src="~/assets/js/shop.js"></script>

}